@use "../scssPartials/palette";
@use "../scssPartials/typography";
@use "./header.scss";

.container {
    margin-top: 2rem;

    &__input {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &__text{
            width: 33%;
            height: 3rem;
        }

        &__submit{
            width: 15%;
            height: 2rem;
            font-size: 1.2rem;
        }
    }

    &__output{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;
        border-top: 2px solid palette.$primary-color;
        font-family: typography.$header-font;
        font-size: typography.$small-header;
        color: palette.$primary-text-color;
        font-weight: bold;

        &__text{
            font-size: 1.1rem;
            color: black;
        }
    }
}