@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

$primary-font: Arial, Helvetica, sans-serif;
$header-font: 'Didact Gothic', sans-serif;

$large-header: 3rem;
$medium-header: 1.8rem;