@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  color: green;
}

.header {
  color: green;
  font-family: "Didact Gothic", sans-serif;
  text-align: center;
}
.header__h1 {
  margin-top: 50px;
  padding: 15px;
  font-size: 3rem;
}
.header__h2 {
  font-size: 1.8rem;
}

.container {
  margin-top: 2rem;
}
.container__input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container__input__text {
  width: 33%;
  height: 3rem;
}
.container__input__submit {
  width: 15%;
  height: 2rem;
  font-size: 1.2rem;
}
.container__output {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container__output__text {
  font-size: 1.2rem;
}
